{{ $data := index site.Data site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area">
	<!-- this image is for trigger this section fallback background image -->
	<div id="page">
        <ul class="cb-slideshow" style="position: absolute;">
            <li><span>Image 01</span><<div class="block">

		<div class="video-button">
			<i class=""></i>
		</div>
	
		<h1>Myanmar Enterprise Solutions</h1>
		<p>Myanmar Enterprise Solutions is about bringing our clients a positive outsourcing experience for their accounting and corporate financial planning needs</p>
	
		<a href="{{ .link }}" class="btn btn-transparent page-scroll" style="z-index: 999;">Explore Us</a>


	</div></li>
            <li><span>Image 02</span>
            	</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>
        </ul>
       
    </div>
	

	
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}

{{end}}
{{end}}
