
<section class="hero-area" style="overflow: hidden;">
	<!-- this image is for trigger this section fallback background image -->
	<div id="page">
        <ul class="cb-slideshow" style="position: absolute;">
            <li><span>Image 01</span><<div class="block">

		<div class="video-button">
			<i class=""></i>
		</div>
	
		<h1>Myanmar Enterprise Solutions</h1>
		<p>Myanmar Enterprise Solutions is about bringing our clients a positive outsourcing experience for their accounting and corporate financial planning needs</p>
	
		<a href="#about" class="btn btn-transparent page-scroll" style="z-index: 999">Explore Us</a>


	</div></li>
            <li><span>Image 02</span>
            	<div class="block">

		<div class="video-button">
			<i class=""></i>
		</div>
	
		<h1>Myanmar Enterprise Solutions</h1>
		<p>Delivering True Business Outcomes
</p>
	
		<a href="#contact" class="btn btn-transparent page-scroll" style="z-index: 999" >Contact Us</a>


	</div>
            	</li>
            <li><span>Image 03</span>
            <div class="block">

		<div class="video-button">
			<i class=""></i>
		</div>
	
		<h1>Myanmar Enterprise Solutions</h1>
		<p>Myanmar Enterprise Solutions is about bringing our clients a positive outsourcing experience for their accounting and corporate financial planning needs</p>
	
		<a href="#news" class="btn btn-transparent page-scroll" style="z-index: 999" >See Uptodate News</a>


	</div></li>
     
        </ul>
       
    </div>
	

	
</section>
