 <style type="text/css">
 	.info{
 		width: 100%;
 	}
 	.info p{
 		font-size: 1em;
 		width: 100%;
 	}
 </style>
 <div id="news" class="latestnews" >
<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Hot Topic<span style="color: #ffffff">
						News</span></h2>
					<div class="border-meghna"></div>
				</div>
   <div class="news" id="allarticle">				
</div>	
</div>
<script type="text/javascript">
getartapi()
	async function getartapi() { 

  // Storing response 
  const response = await fetch("https://bing-news-search1.p.rapidapi.com/news?textFormat=Raw&safeSearch=Off&originalImg=true", {
  "method": "GET",
  "headers": {
    "x-bingapis-sdk": "true",
    "x-rapidapi-key": "bd6a3aaddemsh7deb42ed29aeadep104bb5jsn03d4896c1127",
    "x-rapidapi-host": "bing-news-search1.p.rapidapi.com"
  }
}); 
  
  // Storing data in form of JSON 
  var data = await response.json(); 
 
  if (response) { 
     
  } 
  show3(data); 
  } 
 

 

// Function to hide the loader 
function hideloader() { 
  document.getElementById('loading').style.display = 'none'; 
} 
// Function to define innerHTML for HTML table 
function show3(data) { 
   console.log(data); 
  let article=``;
  
  
  // Loop to access all rows 
  var rt = data.value;
  var i = 0;
  for (var key in rt) { 
   if (i === 3) {
break;
  } 
   article += `
 
  <div class="newsbox" onclick="location.href='${data.value[key].url}'">
    <div class="thumb-c">
      <img  class="thumb" src="${data.value[key].image.thumbnail.contentUrl}">
    </div>
    <div class="info" >
      <p>${data.value[key].name}</p>
    
    </div>
  </div>  
    

`; 
i++;
   
    

  } 

   document.getElementById("allarticle").innerHTML = article; 

} 
</script>