 <div id="news" class="latestnews" >
<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Hot Topic<span style="color: #ffffff">
						News</span></h2>
					<div class="border-meghna"></div>
				</div>
   <div class="news">				
	<div class="newsbox">
		<img  class="thumb" src="/jitceo.jpg">
		<div class="info" >
			<label >News title</label><label>Date : </label>
			<p>summary news </p>
		</div>
	</div>
	<div class="newsbox">
		<img  class="thumb" src="/jitceo.jpg">
		<div class="info" >
			<label >News title</label><label>Date : </label>
			<p>summary news </p>
		</div>
	</div>
	<div class="newsbox">
		<img  class="thumb" src="/jitceo.jpg">
		<div class="info" >
			<label >News title</label><label>Date : </label>
			<p>summary news </p>
		</div>
	</div>
	</div>
</div>