{{ define "main" }}


{{ partial "navigation.html" . }}

<section class="section">
<div class="container" style="margin-top: 10vh;" id="templates">
<h1>Tax Filling Templates</h1>

</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
   
  </tbody>
</table>
<div class="container" style="margin-top: 10vh;" id="calculators">
<h1>Tax Calculators</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>'လစာဝင်ငွေခွန်တွက်ချက်ခြင်း'</td>
      <td></td>
      <td> <a href="https://bit.ly/2RZNhih" class="btn btn-sm btn-primary ml-3" target="_blank" rel="noopener noreferrer">Open</a></td>
    </tr>
     <tr>
      <th scope="row"></th>
      <td>'စည်းကြပ်မှုမှလွတ်ကင်းနေသောဝင်ငွေခွန် တွက်ချက်ခြင်း'</td>
      <td></td>
      <td> <a href="https://bit.ly/368eYh7" class="btn btn-sm btn-primary ml-3" target="_blank" rel="noopener noreferrer">Open</a></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>'စီးပွားရေးလုပ်ငန်းမှ ဝင်ငွေခွန်တွက်ချက်ခြင်း (Corporate)'</td>
      <td></td>
      <td> <a href="https://bit.ly/36lXf6b" class="btn btn-sm btn-primary ml-3" target="_blank" rel="noopener noreferrer">Open</a></td>
    </tr>
     <tr>
      <th scope="row"></th>
      <td>'အခြေပစ္စည်းမှမြတ်စွန်းငွေတွက်ချက်ခြင်း'</td>
      <td></td>
      <td> <a href="https://bit.ly/33Vry0w" class="btn btn-sm btn-primary ml-3" target="_blank" rel="noopener noreferrer">Open</a></td>
    </tr>
       <tr>
      <th scope="row"></th>
      <td>'အသက်မွေးဝမ်းကျောင်းပညာလုပ်ငန်းမှဝင်ငွေခွန် တွက်ချက်ခြင်း'</td>
      <td></td>
      <td> <a href="https://bit.ly/2RXaeCG" class="btn btn-sm btn-primary ml-3" target="_blank" rel="noopener noreferrer">Open</a></td>
    </tr>
        <tr>
      <th scope="row"></th>
      <td>'စီးပွားရေးလုပ်ငန်းမှ ဝင်ငွေခွန်တွက်ချက်ခြင်း (Individual)'</td>
      <td></td>
      <td> <a href="https://bit.ly/3kQx4Ze" class="btn btn-sm btn-primary ml-3" target="_blank" rel="noopener noreferrer">Open</a></td>
    </tr>
          <tr>
      <th scope="row"></th>
      <td>'ပစ္စည်းဌားရမ်းခလုပ်ငန်းမှဝင်ငွေခွန်တွက်ချက်ခြင်း'</td>
      <td></td>
      <td> <a href="https://bit.ly/33VMHro" class="btn btn-sm btn-primary ml-3" target="_blank" rel="noopener noreferrer">Open</a></td>
    </tr>
   
  </tbody>
</table>
</div>
</section>


{{ partial "contact.html" . }}



{{ end }} 