{{ define "main" }}


{{ partial "navigation.html" . }}

<style type="text/css">
	
</style>

<section class="exbg">
<div id="usd"></div>
<div id="euro"></div>
<div id="pound"></div>	
</section>

<table id="rate">
 <tr>
    <th>Currency</th>
    <th>Exchange Rate</th>
  </tr>

</table>


<script type="text/javascript">
const rate = "https://forex.cbm.gov.mm/api/latest";	
getapi(rate);
async function getapi(url){
const response = await fetch(url); 
  
  // Storing data in form of JSON 
  var exrate = await response.json(); 
  
  if (response) { 
     
  } 
  showRate(exrate); 
	
}
function showRate(exrate){
	document.getElementById("usd").innerHTML = exrate.rates.USD;

}
</script>
{{ partial "contact.html" . }}



{{ end }}